.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
  }
  
  input[type="file"] {
    border: none;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  @media (max-width: 576px) {
    .form-control {
      width: 100%;
    }
  }

  
  
  /************** END FORM ***************/