<div class="container pt-3">
  <p-toast></p-toast>
    <div >
        <div class="card">
            
            <div class="card-body">

                <table cellspacing="1">
                    <thead>
                      <tr>
                        <th class="colQuestion" style="width:630px"><br /><br />Question</th>
                        <th id="col1" style="width:130px">Strongly<br />Disagree<br />1</th>
                        <th id="col2" style="width:130px"><br />Disagree<br />2</th>
                        <th id="col3" style="width:130px"><br />Neither<br />3</th>
                        <th id="col4" style="width:130px"><br />Agree<br />4</th>
                        <th id="col5" style="width:130px">Strongly<br />Agree<br />5</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let question of questionsArray; let i = index">
                        <td class="colQuestion">{{ question }}</td>
                        <td style="text-align: center;"><input type="radio" name="responseToQuestion{{i+1}}" [ngModel]="responsesArray[i]" (ngModelChange)="getRadioValue(i, $event)" value="1"></td>
                        <td style="text-align: center;"><input type="radio" name="responseToQuestion{{i+1}}" [ngModel]="responsesArray[i]" (ngModelChange)="getRadioValue(i, $event)" value="2"></td>
                        <td style="text-align: center;"><input type="radio" name="responseToQuestion{{i+1}}" [ngModel]="responsesArray[i]" (ngModelChange)="getRadioValue(i, $event)" value="3"></td>
                        <td style="text-align: center;"><input type="radio" name="responseToQuestion{{i+1}}" [ngModel]="responsesArray[i]" (ngModelChange)="getRadioValue(i, $event)" value="4"></td>
                        <td style="text-align: center;"><input type="radio" name="responseToQuestion{{i+1}}" [ngModel]="responsesArray[i]" (ngModelChange)="getRadioValue(i, $event)" value="5"></td>
                      </tr>
                    </tbody>
                  </table>

                  <div style="text-align: right; margin-top: 10px;">
                    <button (click)="postResult()" [disabled]="!enableBtn" style="padding: 10px 100px 10px 100px;" pButton type="button" class="p-button-raised p-button-rounded"> submit</button>
                  </div>
            </div>
        </div>
    </div>
</div>



